<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ title}}</h1>
        <ul>
            <li v-for="todo in items">{{todo}}</li>
        </ul>
        <input type="text" v-model="item">
        <button @click="items.push(item)">Add item</button>
        <p v-html="content" ></p>
        <input type="text" v-model="content">
        <ul>
            <li v-for="fruit in fruits" v-if="fruit.fruit">{{fruit.name}}</li>
            <button @click="fruit.fruit=!fruit.fruit">Toggle</button>
        </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script>
        new Vue({
            el: '#app',
            data:{
            title: 'To do List',
            content:'I find vue quite easier to learn',
            item: '',
            items:[ 'wash the utensils','prepare breakfast'],
            fruits: [
                {name: 'mango', fruit: true},
                {name: 'banana', fruit: true},
                {name: 'bread', fruit: false}
            ]
            }
            

        })
    </script>

     
</body>
</html>