<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Shop</title>
    <link href="shop.css" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <h1>CAD Online-Shop</h1>
    </div>
 <div id="app">
    <div><p id="p1">What are you looking for?</p>
        <input type="text" >
        <!--v-model="productname"-->
        <p class="cart" >Cart({{cart.length}})</p>
    </div> 
    <div class="clr"></div>
    <productprof @adding-cart='updateCart' @removing-cart='reupdateCart'></productprof>
    <productprof @adding-cart='updateCart' @removing-cart='reupdateCart'></productprof>
    
    <!-- v-for="productname in productnames" :productname='productname' :key='productname.id' -->
    
    
     
 </div> 
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
 <script src="shop.js"></script> 
</body>
</html>
